* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(img1.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    height: 70vh;
    width: 100vh;
    background-color: #f1bf6a;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    font-size: 40px;
    color: #333;
    margin: 100px;

}

label {
    font-size: 24px;
    color: #333;
}

input[type="file"] {
    font-weight: 600;
    display: block;
    margin: 10px auto;
}

button {
    background-color: #457da0;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #a04645;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}
